<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuAnMau_Ph41045"
        tools:targetApi="31">
        <activity
            android:name=".Ui.EditKhachHangActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.EditDanhMucActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.EditNhanVienActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.QuanLyNhanVienActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.HDCTActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.QuanLyDanhMucActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.QuanLyHoaDonActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.DoiMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.EditSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.QuanLyKhachHangActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.ThongKeSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.ThongKeKhachHangActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.ChaoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.ThongKeDoanhThuActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.QuanLySanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.MainActivity"
            android:exported="false" />
    </application>

</manifest>